/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight:normal;
  margin: 18px 0;
  padding: 18px 0px;
}

.story-link:hover {
  text-decoration: underline;
}

.story-author {
  display: block;
  font-size: 0.85rem;
  margin-left: 1.5em;
  color: green;
  padding: 5px 0;
}

.story-user {
  display: block;
  font-size: 0.85rem;
  margin-left: 1.5em;
  color:orange;
}

.stories-list .fa-star:hover {
  cursor: pointer;
}

.stories-list .fa-trash-alt:hover {
  cursor: pointer;
  color: crimson;
}